/* ========================================================================
   Component: layout
 ========================================================================== */
body,.wrapper > section {
  background-color: #FFFFFF;
}
.wrapper > .aside {
  background-color: #FFFFFF;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(72, 94, 144, 0.16);
}
.topnavbar .navbar-header {
  background-color: #ffffff;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-color: #ffffff;
  }
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #0168fa;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #0168fa;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #ffffff;
}
.topnavbar .nav-wrapper {
  background-color: #fff;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #596882;
    font-weight: 500;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #596882;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #ffffff;
}
.sidebar .nav-heading {
  color: #919da8;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #1b2e4b;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: #0168fa;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #0168fa;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: #0168fa;
}
.sidebar .nav > li.active {
  border-left-color: rgba(72, 94, 144, 0.16);
}
.sidebar-subnav {
  background-color: #ffffff;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #515253;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #0168fa;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #0168fa;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: rgba(72, 94, 144, 0.16);
  /*background-color: #23b7e5;*/
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid rgb(51, 104, 250);
  background-color: #ffffff;
  color: #515253;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus ,li.user-header{
  background-color: #0168fa !important;;
}

.panel-custom .panel-heading {
  border-bottom: 2px solid rgba(72, 94, 144, 0.16);
}
.custom-bg ,.fc-state-default{
  background: #0168fa !important;;
  color: #FFFFff !important;;
}
.nav-tabs > li.active > a{
  border-bottom: 2px solid rgb(51, 104, 250);
}
.timeline-2,.timeline-2 .time-item:after,.time-item,.time-item:after {
  border-color: rgb(51, 104, 250);;
}
.sub-active {
  border-left-color: rgb(51, 104, 250);;
}
.dropdown-menu>li>a {
  color: #1b2e4b;
  font-size: 13px;
  padding: 2px 25px;
}
.btn-info {
  color: #fff;
  background-color: #0168fa;
}
.text-info {
  color: #0168fa;
}
a {
  color: #0168fa;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #0168fa;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #0168fa;
  border-color: #0168fa;
}
.label-primary {
  background-color: #0168fa;
}
.text-primary {
  color: #0168fa;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0168fa !important;
}
.h-report{
  border: 1px solid rgba(72, 94, 144, 0.16);
}
.nav-tabs-custom .nav-tabs {
  background-color: transparent;
  border: 1px solid rgba(72, 94, 144, 0.16);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent;
  cursor: pointer;
}
.nav-tabs>li>a:hover {
  background: transparent;
}
.report_menu{
  border: 1px solid rgba(72, 94, 144, 0.16);
}